/* Home Page */
.home {
  width: 100%;
}

/* Hero Section */
.hero {
  padding: 60px 20px;
  text-align: center;
  background: linear-gradient(to right, #0d6efd, #084298);
  color: white;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 12px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.call {
  background-color: #198754;
}

.whatsapp {
  background-color: #25d366;
}
/* Services Section */
.services {
  padding: 40px 20px;
  text-align: center;
}

.services h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 900px;
  margin: auto;
}

.service-card {
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  background: #ffffff;
  color: #333;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.service-card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}
/* Featured Mobiles */
.mobiles {
  padding: 50px 20px;
  background: #f8f9fa;
  text-align: center;
}

.mobiles h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.mobile-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

.mobile-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.mobile-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.mobile-card h3 {
  margin: 15px 0 5px;
}

.price {
  color: #198754;
  font-weight: bold;
  margin-bottom: 15px;
}

.order-btn {
  background: #0d6efd;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  display: inline-block;
}
.mobile-card img {
  display: block;
  margin: auto;
}
.mobile-card:hover {
  transform: translateY(-8px);
  transition: 0.3s;
}
.order-btn:hover {
  background-color: #084298;
}
/* Filters */
.filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.filters button {
  padding: 10px 18px;
  border: none;
  background: #0d6efd;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.filters button:hover {
  background: #084298;
}
/* Search Bar */
.search-input {
  padding: 12px;
  width: 260px;
  max-width: 90%;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 20px auto;
  display: block;
}
